{
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 4,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false
}
